.add{  
    background: url(../images/icons/add.png) no-repeat !important;  
} 

.cancel{  
    background: url(../images/icons/cancel.png) no-repeat !important;  
} 

.user{  
    background: url(../images/icons/user.png) no-repeat !important;  
} 

.user_female{  
    background: url(../images/icons/user_female.png) no-repeat !important;  
} 

.group{  
    background: url(../images/icons/group.png) no-repeat !important;  
} 

.cake{  
    background: url(../images/icons/cake.png) no-repeat !important;  
} 

.piano{  
    background: url(../images/icons/piano.png) no-repeat !important;  
} 

.palette{  
    background: url(../images/icons/palette.png) no-repeat !important;  
} 

.picture{  
    background: url(../images/icons/picture.png) no-repeat !important;  
}

.slide{  
    background: url(../images/icons/slide.png) no-repeat !important;  
}

.ruler{  
    background: url(../images/icons/ruler_triangle.png) no-repeat !important;  
}

.money{  
    background: url(../images/icons/money.png) no-repeat !important;  
}

.cog{  
    background: url(../images/icons/cog.png) no-repeat !important;  
} 

.house{  
    background: url(../images/icons/house.png) no-repeat !important;  
} 

.key{  
    background: url(../images/icons/key.png) no-repeat !important;  
} 

.color_swatch_2{  
    background: url(../images/icons/color_swatch_2.png) no-repeat !important;  
} 

.arrow_left{  
    background: url(../images/icons/arrow_left.png) no-repeat !important;  
} 

.arrow_right{  
    background: url(../images/icons/arrow_right.png) no-repeat !important;  
} 

.arrow_redo{  
    background: url(../images/icons/arrow_redo.png) no-repeat !important;  
} 
